# Default ignored files
/shelf/
/workspace.xml
/runConfigurations.xml
/modules.xml
/misc.xml
/First179E.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
